<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Responsive Admin Dashboard </title>
    <link rel='stylesheet' href='../static/css/style4.css'>
    <meta name="viewport" contents="width=device-width, initial scale=1,0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-polygon'></i>
            <span class="logo-name"> Dashboard </span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bxs-dashboard'></i>
                <span class="link-name"> Dashboard </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-label' ></i>
                <span class="link-name"> Blood Camps </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-label' ></i>
                <span class="link-name"> Total Donations </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-label' ></i>
                <span class="link-name"> Active Donors </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-label' ></i>
                <span class="link-name"> Donation Camps </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-label' ></i>
                <span class="link-name"> Health Centers </span>
            </a>
        </li>
        <li>  
            <a href=#>
                <i class='bx bx-log-out'></i>
                <span class="link-name"> Log Out </span>
            </a>
        </li>    
    </ul>
    </div>

    <section class="home-section">
        <nav>
            <div class="sidebar-button">  
                <i class='bx bx-menu'></i> 
                <span class="dashboard"> Dashboard </span>
            </div>
            <div class="search-box">
                
                <input type="text" placeholder="Search Here">
                <i class='bx bx-search' ></i>
            </div>
            <div class="profile-details">
                <span class="admin-name"> Admin-Name </span>
                <i class='bx bx-chevron-down' ></i>
            </div>
        </nav>
        
        <div class="home-content">
            <div class="overview-boxes">
                <div>
                <div class="box">
                    <div class="left-side">
                        <div class="box-topic"> Blood Groups </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>