<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/check_blood_availability.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>blood_availability</title>
    <style>
       .table:hover {
            transform: scale(1.10);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);           
        }
       h1:hover{
         color: yellow;
         background-color: green;
       }
    </style>
</head>

<body style="background-color: rgba(253, 166, 166, 0.062);" >

    <nav class="navbar navbar-expand-lg red">
        <div class="container-fluid">
          <span>
            <a class="navbar-brand nav1" href="#">iDonor</a>
          </span>
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-light" type="submit">Log In</button>
            <!-- </form> -->
          </div>
        </div>
      </nav>
      
      <h1 style="color: red; text-align: center;" class="my-5">Available Blood Banks</h1>
      <div class="container">
          <div class="check_avail_contain">
        
            <table class="ana table  table-striped table-responsive table-hover ">
              
                <tr>
                  <th > <h5>Blood Bank</h5></th>
                  <th ><h5>Address</h5></th>
                </tr>
              
              
                {% for row in rows %}
                <tr >
                  <td>{{row.Blood_bank_name}}</td>
                  <td>{{row.Street}}</td>
                </tr>
                {% endfor %}
              
            </table>
          </div>
        </div>
  
  </body>
  
  </html>