<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/check_blood_availability.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>blood_availability</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg red">
        <div class="container-fluid">
          <span>
            <a class="navbar-brand nav1" href="#">iDonor</a>
          </span>
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-light" type="submit">Log In</button>
            <!-- </form> -->
          </div>
        </div>
      </nav>

    <div class="container-fluid avail_bld_container">
        <h1>Search Blood Stock</h1>
        <form class="bld_avail_form" action = "" method="POST">
            <div class="row mb-3">
                <label for="state" class="col-sm-2 col-form-label input_tag" style="font-size: 1.5rem;">State</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="margin-top: 0.5rem;" id="state">
                </div>
            </div>
            <div class="row mb-3">
                <label for="district" class="col-sm-2 col-form-label input_tag"
                    style="font-size: 1.5rem;">District</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="margin-top: 0.5rem;" id="district">
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0 input_tag" style="font-size: 1.5rem;">Blood group</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios1">
                            A+
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios2" value="option2">
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios2">
                            A-
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios3" value="option1" checked>
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios3">
                            B+
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios4" value="option2">
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios4">
                            B-
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios5" value="option1" checked>
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios5">
                            AB+
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios6" value="option2">
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios6">
                            AB-
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios7" value="option1" checked>
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios7">
                            O+
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 0.5rem;" type="radio" name="gridRadios"
                            id="gridRadios8" value="option2">
                        <label class="form-check-label" style="font-size: 1.2rem;" for="gridRadios8">
                            O-
                        </label>
                    </div>
                    <!-- <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"
                        disabled>
                    <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                    </label>
                </div> -->
                </div>
            </fieldset>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    <!-- <div class="container-fluid">
        <table class="table table-secondary table-bordered border-primary blood_avail_table">
            <thead>
                <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Blood Bank</th>
                    <th scope="col">Category</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Last updated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>..</td>
                    <td>...</td>
                    <td>....</td>
                    <td>....</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>..</td>
                    <td>...</td>
                    <td>....</td>
                    <td>....</td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <p>{{msg}}</p>
    <div class="table-responsive">
        <div class="check_avail_contain">
      
          <table class="ana table table-bordered pt-4">
            <thead>
              <tr class="bg-warning">
                <th scope="col">Blood Bank</th>
                <th scope="col">Address</th>
                <th scope="col">Availability</th>
                <th scope="col">Last updated</th>
      
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
              <tr class="rows bg-success">
                <td>{{row.Blood_bank_name}}</td>
                <td>{{row.Address}}</td>
                <td>{{row.Availability}}</td>
                <td>{{row.Last_updated}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

</body>

</html>