<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <style>
      a.nav-link:hover {
          background-color: rgba(114, 114, 114, 0.454);
          color: red;
          font-size: 300px;
          font-style: italic;
      }
      a.nav-link:active {
          background-color: rgba(114, 114, 114, 0.404);
          color: red;
          text-decoration:underline ;
          font-size: 300px;
          font-style: italic;
      }
      .dropdown:hover .dropdown-menu {
          display: block;
      }
      .cell:hover {
            transform: scale(1.0);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
            background-color: rgba(241, 103, 110, 0.726);
            color: white;
        }
      
  </style>
    <link rel="stylesheet" href="../static/css/admin_dashboard2.css" />
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(199, 5, 5); ">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <h1 style="color: white;">iDonor</h1>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- 
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false"
                          style="color: white; font-size: 19px; ">
                          Login
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">User Login</a></li>
                          <li><a class="dropdown-item" href="#">Admin login</a></li>
                          <li><a class="dropdown-item" href="#">Blood bank Login</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false"
                          style="color: white;font-size: 19px; ">
                          Register
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">User Registration</a></li>
                          <li><a class="dropdown-item" href="#">Blood bank Registration</a></li>
                      </ul>
                  </li>
                  -->
                  <li class="nav-item">
                    <a class="nav-link" href="admin_dashboard.html" style="color: white ;font-size: 19px; ">Admin Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="registeration_verification_by_admin.html" style="color: white ;font-size: 19px; ">Verification Requests</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="user_msg_to_admin.html" style="color: white ;font-size: 19px; ">User Feedbacks</a>
                  </li>
              </ul>
              <a href="/home" class="btn btn-outline-light " tabindex="-1" role="button" aria-disabled="true">Home</a>
          </div>
      </div>
  </nav>
      <br><br>

      <!-- Title of Page -->
      <div class="title" >
        Donors List
      </div>

    <!-- Donor Table -->
    <div class="tablebox" style="overflow-x:auto;">
    <table class="styled-table">
        <thead>
            <tr style="text-align: center;">
                <th class="cell">Donor Name</th>
                <th class="cell">City</th>
                <th class="cell">Contact</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="active-row">
                <td class="cell">User1</td>
                <td class="cell">City1</td>
                <td class="cell">Contact1</td>
            </tr>
            <tr class="active-row">
                <td class="cell">User2</td>
                <td class="cell">City2</td>
                <td class="cell">Contact2</td>
            </tr>
            <tr class="active-row">
                <td class="cell">User3</td>
                <td class="cell">City3</td>
                <td class="cell">Contact3</td>
            </tr>
            <tr class="active-row">
                <td class="cell">User4</td>
                <td class="cell">City4</td>
                <td class="cell">Contact4</td>
            </tr>
            
            
        </tbody>
    </table>
    </div>
</body>
</html>