<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/blood_bank_regis_me.css">
    <title>Hello, world!</title>
</head>

<body style="background-color: rgba(255, 137, 137, 0.334);" >
    <nav class="navbar navbar-expand-lg red">
        <div class="container-fluid">
            <span>
                <a class="navbar-brand nav1" href="#">iDonor </a>
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li> -->
                </ul>
                <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <!-- </form> -->
                <a href="/home" class="btn btn-outline-light " tabindex="-1" role="button" aria-disabled="true">Home</a>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="card my-4">
            <h5 class="card-header">Maintain your blood donation eligibility:-</h5>
            <div class="card-body">
                <p class="card-text">* Don’t consume Alcohol or caffeine beverages before donating blood.</p>
                <p>* Have a healthy meal before your donation – avoid foods with high fat just before donation.</p>
                <p>* Maintain Hemoglobin level 12.5% minimum.</p>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Check when did you last time donated blood or suffered from any serious diseases:-
            </h5>
            <div class="card-body">
                <p class="card-text">* You should not already be donated blood or have been treated for malaria within
                    the last three months.</p>
                <p>* You should not be suffering from Cardiac arrest, hypertension, kidney alignments, epilepsy, or
                    diabetics. if so you must consult the doctor before donating the blood.</p>
                <p>* Ladies with a bad miscarriage should avoid donating blood for the next 6 months, or if they have
                    been involved in some serious accident.</p>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Age:-</h5>
            <div class="card-body">
                <p>* You must be 18 -60 years old and have a minimum weight of 50Kg can donate blood.</p>
            </div>
        </div>


        <div class="card my-4">
            <h5 class="card-header">Antibiotics:-</h5>
            <div class="card-body">
                <p>* A donor with an acute infection should not donate. The reason for antibiotic use must be evaluated
                    to
                    determine if the donor has a bacterial infection that could be transmissible by blood.</p>
            </div>
        </div>


        <div class="card my-4">
            <h5 class="card-header">Blood Pressure, High:-</h5>
            <div class="card-body">
                <p>* Acceptable as long as your blood pressure is below 180 systolic (first number) and below 100
                    diastolic
                    (second number) at the time of donation. Medications for high blood pressure do not disqualify you
                    from
                    donating.</p>
            </div>
        </div>


        <div class="card my-4">
            <h5 class="card-header">Blood Pressure, Low:-</h5>
            <div class="card-body">
                <p>* Acceptable as long as you feel well when you come to donate, and your blood pressure is at least
                    90/50
                    (systolic/diastolic).</p>
            </div>
        </div>



        <div class="card my-4">
            <h5 class="card-header">Cancer:-</h5>
            <div class="card-body">
                <p>* Eligibility depends on the type of cancer and treatment history. If you had leukemia or lymphoma,
                    including Hodgkin’s Disease and other cancers of the blood, you are not eligible to donate. Other
                    types
                    of cancer are acceptable if the cancer has been treated successfully and it has been more than 12
                    months
                    since treatment was completed and there has been no cancer recurrence in this time. Lower risk
                    in-situ
                    cancers including squamous or basal cell cancers of the skin that have been completely removed and
                    healed do not require a 12-month waiting period.</p>
            </div>
        </div>


        <div class="card my-4">
            <h5 class="card-header">Cold, Flu:-</h5>
            <div class="card-body">
                <p>* Wait if you have a fever or a productive cough (bringing up phlegm). Wait if you do not feel well
                    on
                    the day of donation. Wait until you have completed antibiotic treatment for sinus, throat or lung
                    infection.</p>
            </div>
        </div>


        <div class="card my-4">
            <h5 class="card-header">HIV, AIDS:-</h5>
            <div class="card-body">
                <p>* You should not give blood if you have AIDS or have ever had a positive HIV test, or if you have
                    done
                    something that puts you at risk for becoming infected with HIV.</p>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Sexually Transmitted Disease:-</h5>
            <div class="card-body">
                <p>* Wait 3 months after treatment for syphilis or gonorrhea.</p>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Skin Disease, Rash, Acne:-</h5>
            <div class="card-body">
                <p>* Acceptable as long as the skin over the vein to be used to collect blood is not affected. If the
                    skin
                    disease has become infected, wait until the infection has cleared before donating. Taking
                    antibiotics to
                    control acne does not disqualify you from donating.</p>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">Pregnancy, Nursing:-</h5>
            <div class="card-body">
                <p>* Persons who are pregnant are not eligible to donate. Wait 6 weeks after giving birth.</p>
            </div>
        </div>
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>