<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Title -->
    <title>iDonor</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/admin_dashboard2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
      <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg red">
        <div class="container-fluid">
          <span>
            <a class="navbar-brand nav1" href="index.html">iDonor</a>
          </span>
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown"></li>
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Log In
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Donor Login</a></li>
              <li><a class="dropdown-item" href="#">Blood Bank Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Admin Login</a></li>
            </ul> -->
            <a class="btn btn-outline-light" href="admin_login.html" role="button" style="margin: auto 10px;">Admin</a>
            <a class="btn btn-outline-light" href="admin_dashboard.html" role="button" style="margin: auto 10px;">Admin Dashboard</a>
            <!-- <button class="btn btn-outline-light" type="submit"  >Contact Us</button> -->
           
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          </div>
        </div>
      </nav>
      <br><br>

      <div class="title" >
        USER FEEDBACKS
      </div>
      
      <br>
      <br>
      <br>

      
      <!-- <div class="user" style="display:flex;">
        Name of User
      </div>
      <div class="message" style="display:flex;">
        This is just a a temporary message instead of feedbacks from users. Users feedback will appear here instead.
      </div>
      <div class="message" style="display:flex;">
        <button type="submit" class="btn btn-secondary">Message</button>
      </div>
       -->
       {% for row in rows %}
       <br>
      <div class="user" style="display:flex;">
        <div class="user" style="display:flex;">
          Name : {{row.Name}}
        </div>
        <div class="date">
          Date : {{row.Date}}
        </div>
      </div>
      
      <div class="user" style="display:flex;">
        Email Id : {{row.Email_id}}
      </div>
      <div class="message" style="display:flex;">
        Message : {{row.Message}}
        <!-- This is just a a temporary message instead of feedbacks from users. Users feedback will appear here instead. -->
      </div>
      <!-- <div class="message" style="display:flex;">
        <button type="submit" class="btn btn-secondary"></button>
      </div> -->
      <br>
      {% endfor %}
      <!-- <div class="user" style="display:flex;">
        Name of User
      </div>
      <div class="message" style="display:flex;">
        This is just a a temporary message instead of feedbacks from users. Users feedback will appear here instead.
      </div>
      <div class="message" style="display:flex;">
        <button type="submit" class="btn btn-secondary">Message</button>
      </div><br>
      <div class="user" style="display:flex;">
        Name of User
      </div>
      <div class="message" style="display:flex;">
        This is just a a temporary message instead of feedbacks from users. Users feedback will appear here instead.
      </div>
       -->
      
    



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    

    
  </body>
</html>
