.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* margin : 30px; */
    margin-left: 330px;
    max-width: 900px;
    border: 2px solid black;
}
/* .signup_form{
    display: flex;
    justify-content: center;
    align-items: center;
} */